### Node ###
logs
*.log
node_modules/
package-lock.json
dist/
*.tsbuildinfo

### React Native ###
android/
ios/
*.xcuserstate
*.xcodeproj/
*.xcworkspace/

### JetBrains ###
.idea/
*.iml

### VS Code ###
.vscode/
.history/
