### JetBrains ###
.idea/
*.iml

### VS Code ###
.vscode/
.history/


### Node ###
logs
*.log
node_modules/
package-lock.json
dist/
*.tsbuildinfo


### .NET ###
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.dll
*.exe
*.pdb

### Angular ###
.angular
*.ngsummary.json
*.ngfactory.ts

### Flutter ###
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_tool

### Dart ###
.packages
.dart_tool/
*.dart_tool/

### Python ###
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
.env

### React ###
build/
.env
.env.local

### React Native ###
android/
ios/
*.xcuserstate
*.xcodeproj/
*.xcworkspace/
*.env

### TypeScript ###
*.tsbuildinfo
*.js

### Vue ###
*.local
*.env
*.env.local
*.env.development
*.env.production
*.env.test

