.green_black {
  PRIMARY-900: "";
  PRIMARY-700: "";
  PRIMARY-500: ""; 
  PRIMARY-300: ""; 
  PRIMARY-100: ""; 
  SECONDARY-900: "";
  SECONDARY-700: "";
  SECONDARY-500: "";
  SECONDARY-300: "";
  SECONDARY-100: "";
}

.blue_pink {
  PRIMARY-900: "";
  PRIMARY-700: "";
  PRIMARY-500: ""; 
  PRIMARY-300: ""; 
  PRIMARY-100: ""; 
  SECONDARY-900: "";
  SECONDARY-700: "";
  SECONDARY-500: "";
  SECONDARY-300: "";
  SECONDARY-100: "";
}