.green_black {
  PRIMARY-1000: "";
  PRIMARY-900: "";
  PRIMARY-800: "";
  PRIMARY-700: "";
  PRIMARY-600: "";
  PRIMARY-500: ""; 
  PRIMARY-400: ""; 
  PRIMARY-300: ""; 
  PRIMARY-200: ""; 
  PRIMARY-100: ""; 
  SECONDARY-1000: "";
  SECONDARY-900: "";
  SECONDARY-800: "";
  SECONDARY-700: "";
  SECONDARY-600: "";
  SECONDARY-500: "";
  SECONDARY-400: "";
  SECONDARY-300: "";
  SECONDARY-200: "";
  SECONDARY-100: "";
}

.blue_pink {
  PRIMARY-1000: "";
  PRIMARY-900: "";
  PRIMARY-800: "";
  PRIMARY-700: "";
  PRIMARY-600: "";
  PRIMARY-500: ""; 
  PRIMARY-400: ""; 
  PRIMARY-300: ""; 
  PRIMARY-200: ""; 
  PRIMARY-100: ""; 
  SECONDARY-1000: "";
  SECONDARY-900: "";
  SECONDARY-800: "";
  SECONDARY-700: "";
  SECONDARY-600: "";
  SECONDARY-500: "";
  SECONDARY-400: "";
  SECONDARY-300: "";
  SECONDARY-200: "";
  SECONDARY-100: "";
}